* {
	margin: 0;
	padding: 0;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
body {
	color: white;
	overflow: hidden;
	font-family: "Montserrat";
	font-weight: bold;
	background: rgb(0, 0, 0);
	#fullscreen {
		position: relative;
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		background: rgb(128, 64, 64);
		overflow: hidden;
		#playground {
			position: absolute;
			background: rgb(53, 53, 53);
			height: calc(100% - 2rem);
			width: calc(100% - 2rem);
			border-radius: 1rem;
			// -webkit-transform-style: preserve-3d;
			// transform-style: preserve-3d;
			transition: 10s transform ease-in-out;
			transform-origin: bottom;
			-webkit-transform: rotateX(10deg); // translate3d(0, 0, -40px);
			transform: rotateX(10deg); // translate3d(0, 0, -40px);
			outline: 5px solid rgba(172, 255, 47, 0.116);
			#mob {
				background-image: url(../img/grille_20px.png);
				background-position: left top;
				background-repeat: repeat;
				// background-image: url(../img/grille_20px.png), url(../img/logo.svg);
				// background-position: left top, left top;
				// background-repeat: repeat, no-repeat;
				// stringCss = stringCss + '-webkit-transform-style: preserve-3d;'
				// stringCss = stringCss + 'transform-style: preserve-3d;'
				position: relative;
				// background: rgba(42, 107, 4, 0.842);
				height: 100%;
				width: 100%;
				overflow: hidden;
				.ant {
					position: absolute;
					// background: rgba(255, 255, 255, 0.89);
					border-radius: 5px;
					.rangeself,
					.rangea {
						position: absolute;
						border-radius: 50%;
						// outline: 3px dotted rgba(255, 255, 255, 0.2);
					}
					.rangea {
					}
					&.overself {
						.rangeself {
							border-radius: unset;
							outline-color: rgba(255, 0, 0, 0.1);
						}
					}
					.visual {
						background-size: cover;
						border-radius: 25%;
						border-top-left-radius: 50%;
						border-top-right-radius: 50%;
						// outline: 1px solid rgba(255, 255, 255, 1);
						text-align: center;
					}
					&.overa {
						.rangea {
							border-radius: unset;
							// background: rgba(255, 136, 0, 0.3);
						}
					}
					&.player {
						// filter: invert(0.5);
						.rangea {
							// outline: 2px dotted rgba(255, 255, 255, 0.1);
							background-color: rgba(255, 255, 255, 0.103);
						}
						&.overa {
							.rangea {
								outline: 2px dotted rgba(255, 0, 0, 0.1);
								// background-color: rgba(255, 0, 0, 0.08);
							}
						}
					}
				}
				&.outlined {
					.rangea {
						outline: 3px dotted rgba(255, 255, 255, 0.2);
					}
				}
			}
			#mob {
				.ant {
					.mobinfo {
						position: absolute;
						top: -100%;
						left: -100%;
						width: 300%;
						height: 300%;
						color: rgba(255, 255, 255, 0.158);
						// background-color: rgb(221, 13, 13);
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						align-items: flex-start;
						span {
							// display: none;
						}
						span.xpspan {
							position: absolute;
							top: 0;
							right: 0;
							font-size: 0.7rem;
							color: rgba(21, 255, 0, 0.562);
							max-width: 1.4rem;
							// background-color: khaki;
						}
						span.posspan {
							display: none;
							position: absolute;
							bottom: 0;
							width: 100%;
							text-align: left;
							// background-color: khaki;
						}
						span.namespan {
							display: initial;
							position: absolute;
							bottom: 0;
							width: 100%;
							text-align: center;
							// background-color: khaki;
						}
					}
					&:hover {
						.mobinfo {
							span {
								display: initial;
							}
							position: absolute;
							content: "!";
							position: absolute;
							top: -40px;
							left: 100%;
							width: 80px;
							height: 40px;
							border-radius: 5px;
							background-color: rgba(255, 255, 255, 0.2);
							// background-image: url(../img/flag.svg);
							// background-size: cover;
							// background-repeat: no-repeat;
							z-index: +1;
							// background: rgba(255, 0, 0, 0.3);
							span.namespan {
								text-align: right;
								// background-color: khaki;
							}
						}
					}
				}
			}
		}

		&.ddd {
			perspective: 100vh;
			#playground {
				// -webkit-transform-style: preserve-3d;
				// transform-style: preserve-3d;
				transform-origin: bottom;
				-webkit-transform: rotateX(10deg); // translate3d(0, 0, -40px);
				transform: rotateX(10deg); // translate3d(0, 0, -40px);
				outline: 5px solid rgba(172, 255, 47, 0.116);
				transition: 10s transform ease-in-out;
			}
		}
		#info {
			position: absolute;
			bottom: 0.5rem;
			left: 0.5rem;
			display: flex;
			flex-direction: row;
			* {
				color: black;
			}
			.github,
			.codepen {
				width: 24px;
				height: 24px;
				min-width: 24px;
				min-height: 24px;
				background-size: cover;
				border-radius: 50%;
			}

			.github {
				background-image: url(../rs/github.png);
			}
			.codepen {
				background-image: url(../rs/codepen.png);
				margin-right: 0.5rem;
			}
			a {
				background-color: rgba(255, 255, 255, 0.192);
				border-radius: 0.5rem;
			}
		}
	}
	#escapescreen {
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		overflow-y: auto;
		position: absolute;
		width: 40%;
		height: 50%;
		border-radius: 0.5rem;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: rgba(161, 161, 161, 0.699);
		border: 2px solid white;
		// z-index: 2;
		&.active {
			display: flex;
		}
		.options {
			#buttons,
			#console {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
				outline: 1px solid yellow;
				.console-item {
					background: rgba(0, 0, 0, 0.1);
					color: white;
					font-weight: bold;

					display: flex;
					align-items: center;
					justify-content: flex-start;
					border-radius: 0.4rem;
					// outline: 2px solid rgba(255, 255, 255, 0.335);
					border: 2px solid rgba(255, 255, 255, 0.335);
					.console-ico {
						width: 1rem;
						height: 100%;
						border-right: 2px solid rgba(255, 255, 255, 0.335);
						padding: 0.2rem 0.5rem;
					}
					#mobcount,
					#mobdead,
					#respawned,
					#respawning,
					#worldtype,
					#outlined {
						padding: 0.2rem 0.5rem;
						width: max-content;
					}
				}
			}
		}
		// #console {
		// 	height: max-content;
		// 	position: absolute;
		// 	width: max-content;
		// 	display: none;
		// 	flex-direction: row;
		// 	align-items: center;
		// 	justify-content: flex-start;
		// 	.console-item {
		// 		// 	margin-left: unset;
		// 		// 	margin-right: 1rem;
		// 		margin-left: unset;
		// 		margin-right: 1rem;
		// 		&.active {
		// 			background-color: rgba(30, 255, 0, 0.685);
		// 		}
		// 	}
		// }
	}
	#splashplayer0,
	#splashplayer1,
	#splashplayer2,
	#splashplayer3 {
		position: absolute;
		width: max-content;
		height: max-content;
		border-radius: 0.5rem;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, -50%);
		background-color: rgba(196, 20, 20, 0.452);
		border: 2px solid white;
		z-index: 2000;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		display: none;
		.p0,
		.p1,
		.p2,
		.p3 {
			border-radius: 0.5rem;
			margin: 0.5rem;
			border-radius: 0.5rem;
			border: 2px solid rgba(255, 255, 255, 0.281);
			background-color: rgba(240, 23, 185, 0.452);
			padding: 0.5rem;
		}
		&.active {
			display: flex;
		}
	}
	#splashplayer1 {
		left: 50%;
		top: 0;
		bottom: unset;
		transform: rotate(180deg) translate(50%, -50%);
	}
	#splashplayer2 {
		bottom: 90%;
		left: 75%;
		transform: rotate(180deg) translate(50%, -100%);
	}
	#splashplayer3 {
		bottom: 90%;
		left: 25%;
		transform: rotate(180deg) translate(50%, -100%);
	}
	#splashgameover {
		position: absolute;
		width: max-content;
		height: max-content;
		border-radius: 0.5rem;
		padding: 0.5rem;
		left: 50%;
		bottom: 10%;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, 0.452);
		border: 2px solid white;
		z-index: 2001;
		display: none;
		&.active {
			display: flex;
		}
		.p0,
		.p1 {
			border-radius: 0.5rem;
			margin: 0.5rem;
			border-radius: 0.5rem;
			border: 2px solid rgba(255, 255, 255, 0.281);
			padding: 0.5rem;
		}
	}
	#p0left,
	#p0right,
	#p1left,
	#p1right {
		display: none;
		width: calc(100vw / 10);
		height: calc(100vw / 10);
		background: rgba(255, 255, 255, 0.05);
		position: absolute;
		bottom: calc(100vw / 20);
		left: calc(100vw / 10);
		border-radius: 50%;
		align-items: center;
		justify-content: center;
		font-size: 3rem;
		&.active {
			display: flex;
		}
	}
	#p0right {
		left: unset;
		right: calc(100vw / 10);
	}
	#p1left {
		bottom: unset;
		top: calc(100vw / 20);
		left: unset;
		right: calc(100vw / 10);
		transform: rotateX(180deg);
	}
	#p1right {
		bottom: unset;
		top: calc(100vw / 20);
		left: calc(100vw / 10);
		transform: rotateX(180deg);
	}
}
