* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

body {
  color: white;
  overflow: hidden;
  font-family: "Montserrat";
  font-weight: bold;
  background: black;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

body #fullscreen {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: black;
  overflow: hidden;
}

body #fullscreen #playground {
  position: absolute;
  background: #353535;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  border-radius: 1rem;
  -webkit-transition: 10s -webkit-transform ease-in-out;
  transition: 10s -webkit-transform ease-in-out;
  transition: 10s transform ease-in-out;
  transition: 10s transform ease-in-out, 10s -webkit-transform ease-in-out;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(10deg);
  transform: rotateX(10deg);
  outline: 5px solid rgba(172, 255, 47, 0.116);
}

body #fullscreen #playground #remainingmobs {
  position: absolute;
  width: 1px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 20%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: width 1s ease, height 1s ease;
  transition: width 1s ease, height 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 9rem;
  color: rgba(0, 0, 0, 0.2);
}

body #fullscreen #playground #remainingmobs.active {
  background-color: indigo;
}

body #fullscreen #playground #mob {
  background-image: url(../img/grille_20px.png);
  background-position: left top;
  background-repeat: repeat;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body #fullscreen #playground #mob .tob {
  position: absolute;
  font-size: 1.5rem;
  width: 25px;
  height: 25px;
  line-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.651);
}

body #fullscreen #playground #mob .moob {
  position: absolute;
  border-radius: 5px;
}

body #fullscreen #playground #mob .moob .rangeself,
body #fullscreen #playground #mob .moob .rangea {
  position: absolute;
  border-radius: 50%;
}

body #fullscreen #playground #mob .moob.immune .rangea {
  background-color: rgba(0, 255, 0, 0.164);
}

body #fullscreen #playground #mob .moob.overself .rangeself {
  border-radius: unset;
  outline-color: rgba(255, 0, 0, 0.1);
}

body #fullscreen #playground #mob .moob .visual {
  background-size: cover;
  border-radius: 25%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  text-align: center;
}

body #fullscreen #playground #mob .moob.overa .rangea {
  border-radius: unset;
}

body #fullscreen #playground #mob .moob.player .rangea {
  background-color: rgba(255, 255, 255, 0.103);
}

body #fullscreen #playground #mob .moob.player.overa .rangea {
  outline: 2px dotted rgba(255, 0, 0, 0.1);
}

body #fullscreen #playground #mob.outlined .rangea {
  outline: 3px dotted rgba(255, 255, 255, 0.2);
}

body #fullscreen #playground #mob .moob .mobinfo {
  position: absolute;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  color: rgba(255, 255, 255, 0.158);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body #fullscreen #playground #mob .moob .mobinfo span.xpspan {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.7rem;
  color: rgba(21, 255, 0, 0.562);
  max-width: 1.4rem;
  height: 100%;
}

body #fullscreen #playground #mob .moob .mobinfo span.posspan {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
}

body #fullscreen #playground #mob .moob .mobinfo span.namespan {
  display: initial;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

body #fullscreen #playground #mob .moob:hover .mobinfo {
  position: absolute;
  content: "!";
  position: absolute;
  top: -40px;
  left: 100%;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: +1;
}

body #fullscreen #playground #mob .moob:hover .mobinfo span {
  display: initial;
}

body #fullscreen #playground #mob .moob:hover .mobinfo span.namespan {
  text-align: right;
}

body #fullscreen.ddd {
  -webkit-perspective: 100vh;
          perspective: 100vh;
}

body #fullscreen.ddd #playground {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: rotateX(10deg);
  transform: rotateX(10deg);
  outline: 5px solid rgba(172, 255, 47, 0.116);
  -webkit-transition: 10s -webkit-transform ease-in-out;
  transition: 10s -webkit-transform ease-in-out;
  transition: 10s transform ease-in-out;
  transition: 10s transform ease-in-out, 10s -webkit-transform ease-in-out;
}

body #fullscreen #info {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #fullscreen #info * {
  color: black;
}

body #fullscreen #info .github,
body #fullscreen #info .codepen {
  width: 24px;
  height: 24px;
  min-width: 24px;
  min-height: 24px;
  background-size: cover;
  border-radius: 50%;
}

body #fullscreen #info .github {
  background-image: url(../rs/github.png);
}

body #fullscreen #info .codepen {
  background-image: url(../rs/codepen.png);
  margin-right: 0.5rem;
}

body #fullscreen #info a {
  background-color: rgba(255, 255, 255, 0.192);
  border-radius: 0.5rem;
}

body #escapescreen {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-y: auto;
  position: absolute;
  width: 40%;
  height: 50%;
  border-radius: 0.5rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(161, 161, 161, 0.699);
  border: 2px solid white;
}

body #escapescreen.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #escapescreen .options #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  outline: 1px solid yellow;
  width: 25px;
  background: rgba(126, 30, 30, 0.863);
}

body #escapescreen .options #buttons .console-item {
  background: rgba(0, 0, 0, 0.1);
  color: white;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 0.4rem;
  border: 2px solid rgba(255, 255, 255, 0.335);
}

body #escapescreen .options #buttons .console-item .console-ico {
  width: 1rem;
  height: 100%;
  border-right: 2px solid rgba(255, 255, 255, 0.335);
  padding: 0.2rem 0.5rem;
}

body #escapescreen .options #buttons .console-item #mobcount,
body #escapescreen .options #buttons .console-item #mobdead,
body #escapescreen .options #buttons .console-item #respawned,
body #escapescreen .options #buttons .console-item #respawning,
body #escapescreen .options #buttons .console-item #worldtype,
body #escapescreen .options #buttons .console-item #outlined {
  padding: 0.2rem 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body #console {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 11;
}

body #console .console-item {
  background: rgba(218, 59, 59, 0.788);
  color: white;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 0.4rem;
  border: 2px solid rgba(255, 255, 255, 0.335);
}

body #console .console-item .console-ico {
  width: 0.5rem;
  border-right: 2px solid rgba(255, 255, 255, 0.335);
  padding: 0.2rem 0.5rem;
}

body #console .console-item #worldtype,
body #console .console-item #outlined,
body #console .console-item #remainingmobs {
  min-width: 0.5rem;
  padding: 0.2rem 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body #splashplayer0,
body #splashplayer1,
body #splashplayer2,
body #splashplayer3 {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 0.5rem;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid white;
  z-index: 2000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: none;
}

body #splashplayer0 .p0,
body #splashplayer0 .p1,
body #splashplayer0 .p2,
body #splashplayer0 .p3,
body #splashplayer1 .p0,
body #splashplayer1 .p1,
body #splashplayer1 .p2,
body #splashplayer1 .p3,
body #splashplayer2 .p0,
body #splashplayer2 .p1,
body #splashplayer2 .p2,
body #splashplayer2 .p3,
body #splashplayer3 .p0,
body #splashplayer3 .p1,
body #splashplayer3 .p2,
body #splashplayer3 .p3 {
  border-radius: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.281);
  background-color: rgba(240, 23, 186, 0.253);
  padding: 0.5rem;
}

body #splashplayer0.active,
body #splashplayer1.active,
body #splashplayer2.active,
body #splashplayer3.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #splashplayer1 {
  left: 50%;
  top: 0;
  bottom: unset;
  -webkit-transform: rotate(180deg) translate(50%, -50%);
          transform: rotate(180deg) translate(50%, -50%);
}

body #splashplayer2 {
  bottom: 90%;
  left: 75%;
  -webkit-transform: rotate(180deg) translate(50%, -100%);
          transform: rotate(180deg) translate(50%, -100%);
}

body #splashplayer3 {
  bottom: 90%;
  left: 25%;
  -webkit-transform: rotate(180deg) translate(50%, -100%);
          transform: rotate(180deg) translate(50%, -100%);
}

body #splashgameover {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 0.5rem;
  padding: 0.5rem;
  left: 50%;
  bottom: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.452);
  border: 2px solid white;
  z-index: 2001;
  display: none;
}

body #splashgameover.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #splashgameover .p0,
body #splashgameover .p1 {
  border-radius: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.281);
  padding: 0.5rem;
}

body #p0left,
body #p0right,
body #p1left,
body #p1right {
  display: none;
  width: calc(100vw / 5);
  height: calc(100vw / 5);
  background: rgba(255, 255, 255, 0.05);
  position: absolute;
  bottom: calc(100vw / 20);
  left: calc(100vw / 10);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3rem;
}

body #p0left.active,
body #p0right.active,
body #p1left.active,
body #p1right.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #p0right {
  left: unset;
  right: calc(100vw / 10);
}

body #p1left {
  bottom: unset;
  top: calc(100vw / 20);
  left: unset;
  right: calc(100vw / 10);
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

body #p1right {
  bottom: unset;
  top: calc(100vw / 20);
  left: calc(100vw / 10);
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
/*# sourceMappingURL=css.css.map */