* {
	margin: 0;
	padding: 0;
}
body {
	color: white;
	overflow: hidden;
	font-family: "Montserrat";
	font-weight: bold;
	background: rgb(0, 0, 0);
	#fullscreen {
		position: relative;
		height: 100vh;
		width: 100%;
		display: flex;
		flex-direction: column;
		background: rgb(128, 64, 64);
		overflow: hidden;
		perspective: 200px;
		#playground {
			position: absolute;
			background: rgb(53, 53, 53);
			height: calc(100% - 2rem);
			width: calc(100% - 2rem);
			border-radius: 1rem;
			// -webkit-transform-style: preserve-3d;
			// transform-style: preserve-3d;
			transition: 10s transform ease-in-out;
			transform-origin: bottom;
			-webkit-transform: rotateX(10deg) translate3d(0, -10%, -40px);
			transform: rotateX(10deg) translate3d(0, -10%, -40px);
			outline: 5px solid rgba(172, 255, 47, 0.116);
			background-image: url(../img/grille_20px.png);
			#mob {
				// stringCss = stringCss + '-webkit-transform-style: preserve-3d;'
				// stringCss = stringCss + 'transform-style: preserve-3d;'
				position: relative;
				// background: rgba(42, 107, 4, 0.842);
				height: 100%;
				width: 100%;
				overflow: hidden;
				.ant {
					position: absolute;
					// background: rgba(255, 255, 255, 0.89);
					border-radius: 5px;
					.rangeself,
					.rangea {
						position: absolute;
						border-radius: 50%;
						// outline: 3px dotted rgba(255, 255, 255, 0.2);
					}
					&.overself {
						.rangeself {
							border-radius: unset;
							outline-color: rgba(255, 0, 0, 0.1);
						}
					}
					.visual {
						background-size: cover;
						border-radius: 25%;
						border-top-left-radius: 50%;
						border-top-right-radius: 50%;
						// outline: 1px solid rgba(255, 255, 255, 1);
						text-align: center;
					}
					&.overa {
						.rangea {
							border-radius: unset;
							// background: rgba(255, 136, 0, 0.3);
						}
					}
					&.player {
						// filter: invert(0.5);
						.rangea {
							outline: 2px dotted rgba(255, 255, 255, 0.1);
							background-color: rgba(255, 255, 255, 0.03);
						}
						&.overa {
							.rangea {
								outline: 2px dotted rgba(255, 0, 0, 0.1);
								// background-color: rgba(255, 0, 0, 0.08);
							}
						}
					}
				}
				&.outlined {
					.rangea {
						outline: 3px dotted rgba(255, 255, 255, 0.2);
					}
				}
			}
			#mob {
				.ant .mobinfo {
					position: absolute;
					top: -100%;
					left: -100%;
					width: 300%;
					height: 300%;
					color: rgba(255, 255, 255, 0.158);
					// background-color: rgb(221, 13, 13);
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					span {
						display: none;
					}
					span.xpspan {
						position: absolute;
						top: 0;
						right: 0;
						// background-color: khaki;
					}
					span.posspan {
						position: absolute;
						bottom: 0;
						width: 100%;
						text-align: left;
						// background-color: khaki;
					}
					span.namespan {
						display: initial;
						position: absolute;
						bottom: 0;
						width: 100%;
						text-align: center;
						// background-color: khaki;
					}
					&:hover {
						span {
							display: initial;
						}
						position: absolute;
						content: "!";
						position: absolute;
						top: -40px;
						left: 100%;
						width: 80px;
						height: 40px;
						border-radius: 5px;
						background-color: rgba(255, 255, 255, 0.2);
						// background-image: url(../img/flag.svg);
						// background-size: cover;
						// background-repeat: no-repeat;
						z-index: +1;
						// background: rgba(255, 0, 0, 0.3);
						span.namespan {
							text-align: right;
							// background-color: khaki;
						}
					}
				}
			}
		}
		#info {
			position: absolute;
			bottom: 1rem;
			left: 1rem;
		}
		#buttons,
		#console {
			position: absolute;
			width: max-content;
			display: flex;
			align-items: center;
			justify-content: center;
			.console-item {
				background: rgba(0, 0, 0, 0.1);
				color: white;
				font-weight: bold;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 0.4rem;
				// outline: 2px solid rgba(255, 255, 255, 0.335);
				border: 2px solid rgba(255, 255, 255, 0.335);
				margin-left: 1rem;
				margin-top: 1rem;
				.console-ico {
					height: 100%;
					border-right: 2px solid rgba(255, 255, 255, 0.335);
					padding: 0.2rem 0.5rem;
				}
				#mobcount,
				#mobdead,
				#respawned,
				#respawning,
				#worldtype,
				#outlined {
					padding: 0.2rem 0.5rem;
					width: max-content;
				}
			}
		}
		#buttons {
			right: 0;
			.console-item {
				// 	margin-left: unset;
				// 	margin-right: 1rem;
				margin-left: unset;
				margin-right: 1rem;
				&.active {
					background-color: rgba(30, 255, 0, 0.685);
				}
			}
		}
	}
}
